*, html{
    margin: 0;
    padding: 0;
}

.container {}

.container-navbar {
    height: 10vh;
    background-color: black;
    width: 100%;
    height: 100px;
}

.ul-navbar {  
    height: 100px;
    display: flex;   
    justify-content: center;
    align-items: center;
}

.li-navbar {
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    color: white;
    font-size: 30px;
}

.li-navbar:hover {
    background-color:grey;
    transition: 0.3s ease-in-out;
    transition-delay: 0.3s;
    border-radius: 10px;
}

.a-navbar {
    color: white;
    text-decoration: none;
}

.container-content1 {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    
}

.a-content {
    background-color:whitesmoke;
    height: 350px;
    width: 300px;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 10px 7px 9px 10px rgba(0,0,0,0.76); 
}

.contentp1 {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: fantasy;
}

.img-content {
    width: 50%;
    height: 50%;
}

.container-footer {
    height: 10vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-footer {
   font-size: 40px; 
    color: white;
}
